link(rel='stylesheet', href='styles.css')

form(method="post")
    label(for="startTime") Start Time:
    input(type="time" id="startTime" name="startTime" required)
    br
    label(for="endTime") End Time:
    input(type="time" id="endTime" name="endTime" required)
    br
    input(type="submit" value="Save")
